.testing {
  width: percentage(5/7);
}

h1 {
  font-family: sans-serif;
  text-align: center;
  font-size: 2em;
  color: #666;
}
p {
  margin-left: 2em;
  margin-right:  2em;
  text-align: justify;
  line-height: 1.5em;
  font-size: 1em;

}
