@import url('https://fonts.googleapis.com/css?family=Caveat');

.testing {
  width: percentage(5/7);
}


//font-family: 'Caveat', cursive;

h1 {
  font-family: 'Caveat', cursive;
  text-align: center;
  font-size: 4em;
  color: red;
}
p {
  margin-left: 2em;
  margin-right:  2em;
  text-align: justify;
  line-height: 1.5em;
  font-size: 1em;

}
